.main {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("https://s1.1zoom.me/b5050/475/331672-svetik_3840x2400.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-container {
  width: 500px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(10px);
  text-align: center;
}

.container {
  width: 600px;
  height: 350px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: transparent;
}

.container > h1{
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 2em;
  margin-bottom: 50px;
}

.container > p{
  margin: 0;
  font-size: 1em;
  font-weight: 500;
  margin-bottom: 10px;
}

a{
  margin: 0;
  font-size: 1em;
  font-weight: 500;
  color: white;
  transition: 0.1s;
  text-decoration: none;
}

a:hover{
  color: #2d79f3;
  text-decoration: underline;
  cursor: pointer;
}

.btn {
  width: 350px;
  height: 40px;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 1em;
  gap: 10px;
  border: 1px solid #ededef;
  background-color: white;
  cursor: pointer;
  transition: 0.1s;
}

.btn:hover {
  border: 2px solid #2d79f3;
}

.back{
  margin: 0;
  width: 400px;
  transition: 0.3s;
  font-size: 0.8em;
}

.back:hover{
  cursor: pointer;
  text-decoration: underline;
}

.input-container {
  position: relative;
  margin-bottom: 30px;
  width: 350px;
  color: white;
}

#pwd{
  margin: 0;
  margin-bottom: 15px;
}

.input-container input[type="text"], input[type="password"] {
  font-size: 1em;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 5px 0;
  background-color: transparent;
  outline: none;
  color: white;
}

.input-container .label {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  transition: all 0.3s ease;
  pointer-events: none;
  font-size: 1.1em;
}

.input-container input[type="text"]:focus ~ .label,
.input-container input[type="text"]:valid ~ .label,
.input-container input[type="password"]:focus ~ .label,
.input-container input[type="password"]:valid ~ .label {
  top: -20px;
  font-size: 16px;
  color: white;
}

.input-container .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: white;
  transform: scaleX(0);
  transition: all 0.3s ease;
}

.input-container input[type="text"]:focus ~ .underline,
.input-container input[type="text"]:valid ~ .underline,
.input-container input[type="password"]:focus ~ .underline,
.input-container input[type="password"]:valid ~ .underline {
  transform: scaleX(1);
}


.bar{
  width: 70%;
  height: 2px;
  background-color: grey;
  margin-top: 10px;
}

.container-socials{
  width: 400px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.btn-socials {
  width: 150px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1em;
  font-weight: 600;
  border: 1px solid #ededef;
  background-color: white;
  cursor: pointer;
  transition: 0.1s;
}

.btn-socials:hover {
  border: 2px solid #2d79f3;
}

.p-socials{
  font-size: 1.2em;
  font-weight: 600;
}

