<app-doors></app-doors>
<!--<div class="language-container">
  <img src="../assets/language.svg" alt="Seleccionar Idioma" />
</div>-->
<div (click)="logOut()" class="language-container">
  <p>Cerrar Sesión</p>
</div>
<!--<div (click)="redirectInstagram()" class="social-container">
    <img src="../assets/insta.svg" alt="Seguirnos en Instagram" />
    <p>Instagram</p>
  </div>-->
<section class="main">
  <h1 id="title">Colección Cars Mini Racers</h1>
  <button (click)="redirectLogin()" class="btn-collection">
    <span class="hover-underline-animation"> Comienza la colección </span>
    <svg
      id="arrow-horizontal"
      xmlns="http://www.w3.org/2000/svg"
      width="30"
      height="10"
      fill="white"
      viewBox="0 0 46 16"
      stroke="white"
      stroke-width="2"
    >
      <path
        id="Path_10"
        data-name="Path 10"
        d="M8,0,6.545,1.455l5.506,5.506H-30V9.039H12.052L6.545,14.545,8,16l8-8Z"
        transform="translate(30)"
      ></path>
    </svg>
  </button>
  <p class="learn-more">Aprender más</p>
  <div (click)="scrollToSection('section2')" class="unfold-container">
    <img src="../assets/unfold.svg" alt="Conoce más" />
  </div>
</section>
<app-doors></app-doors>
<section id="section2" class="section2">
  <div class="about-txt">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
    inventore sapiente quod, ad praesentium adipisci iusto odio. Maiores eaque
    ex sed molestiae sint repellat natus error aut magni, perferendis quia!
  </div>
  <div class="about-img"></div>
</section>

<section id="section3" class="section2">
  <div class="about-txt">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
    inventore sapiente quod, ad praesentium adipisci iusto odio. Maiores eaque
    ex sed molestiae sint repellat natus error aut magni, perferendis quia!
  </div>
  <div class="about-img"></div>
</section>

