<app-doors></app-doors>
<section class="main">
  <div class="bg-container">
    <form class="container">
      <h1>Iniciar Sesión</h1>
      <div class="input-container">
        <input type="text" id="input" required="">
        <label for="input" class="label">Introduzca su correo o usuario</label>
        <div class="underline"></div>
      </div>
      <div id="pwd" class="input-container">
        <input type="text" id="input" required="">
        <label for="input" class="label">Introduzca su contraseña</label>
        <div class="underline"></div>
      </div>
      <p>¿Olvidó la contraseña?&nbsp;<a href="">Restablecer contraseña</a></p>

      <button type="submit" class="btn">Iniciar Sesión</button>
      <p>¿No tienes una cuenta?&nbsp;<a href="">Registrate aquí</a></p>

      <div class="bar">&nbsp;</div>
      <button type="button" class="btn-socials">
        <img
          width="30"
          height="30"
          src="https://img.icons8.com/papercut/120/google-logo.png"
          alt="google-logo"
        />
        <p>Iniciar sesión con google</p>
      </button>
      <button type="button" class="btn-socials">
        <img
          width="30"
          height="30"
          src="https://img.icons8.com/color/48/facebook.png"
          alt="facebook"
        />
        <p>Iniciar sesión con facebook</p>
      </button>
    </form>
  </div>
</section>
